<div class="search-container">
  <h2>Search for Movies</h2>
  <div class="search-input">
    <input
      type="text"
      [(ngModel)]="query"
      placeholder="Search for a movie..."
      (keyup.enter)="searchMovies()"
    />
    <button (click)="searchMovies()" class="btn btn-primary">Search</button>
    <button (click)="clearSearch()" class="btn btn-secondary" *ngIf="query">Clear</button>
  </div>


    <div class="movie-list">
      <app-movie-card *ngFor="let movie of movies" [movie]="movie"></app-movie-card>
    </div>


<p *ngIf="movies.length === 0 && query">No movies found for "{{ query }}"</p>
